#wrapper {
	font-family: 'Open Sans', sans-serif;
	max-width: 970px;
	margin-right: auto;
	margin-left: auto;
}

#header {
	position: fixed;
	top: 0px;
	z-index: 1;
	width: 100%;
	background: white;
	max-width: 1070px;
}

#name span {
	padding-left: 20px; 
	font-size: 48px;
}

#header ul {
	list-style-type: none;
	float:right;
	padding-right: 20px;

}

#header li {
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
	min-width: 50px;
}

#header ul li a {
	display: inline-block;
	height: 100%; 
	width: 100%;
}

#clear {
	clear:both;
}

#main_thumbs {
	margin-top: 200px;
}

#main_thumbs ul li {
	float: left;
	list-style-type: none;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
}

#main_thumbs ul li img {
	width: 33%;
	min-width: 300px;
}

#main_thumbs ul li p {
	display: inline-block;
	width: 300px;
	height: auto;
	vertical-align: top;
	padding-left: 5px;
}

@media only screen and (min-width : 678px) and (max-width : 970px) {
	#main_thumbs ul li img {
		width: 33%;
		min-width: 200px;
	}

	#main_thumbs ul li p {
		width: 200px;
		font-size: 0.8em;
	}

	#main_thumbs {
		margin-top: 150px;
	}

}

@media only screen and (max-device-width: 677px) {
	#main_thumbs ul li img {
		width: 100%;
		min-width: 300px;
	}

	#main_thumbs ul li img.alpha {
		padding-top: 20px;
	}

	#main_thumbs ul li img.omega {
		padding-bottom: 20px;
	}

	#main_thumbs ul li p {
		width: 100%;
		font-size: 1.0em;
	}

}